.header__lang-link {
  display: inline-block;
  margin: 18px 18px 6px 0;
  color: white;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}
.header__lang-link:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
    margin: 18px 14px 6px 0;
  }
}
