.place__title {
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 460px;
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 56px;
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    max-width: 340px;
  }
}
@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    padding: 0 16px;
    max-width: 90%;
  }
}
