.photo-grid {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 100%;
  }
}
