.footer__link {
  color: white;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.footer__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
