.lead__title {
  text-align: center;
  margin: 56px 0 0;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  max-width: 640px;
}
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.1;
    max-width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .lead__title {
    font-size: 48px;
  }

  @media screen and (max-width: 425px) {
    .lead__title {
      font-size: 36px;
    }
    @media screen and (max-width: 320px) {
      .lead__title {
        font-size: 32px;
        line-height: 1.09;
      }
    }
  }
}
