@media screen and (max-width: 425px) {
  .lead__title{
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle{
    font-size: 16px;
    line-height: 1.25;   
  }
  .intro__title{
    font-size: 32px;
    line-height: 1.09; 
  }


  .cover__title{
    font-size: 32px;
    line-height: 1.09;   
  }
.cover__subtitle{
  font-size: 14px;
  line-height: 1.14;
}
.footer{
flex-direction: column;
gap: 48px;
}

.footer__links{
  flex-direction: column;
  gap: 32px;
}



.place{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.place__article{
  font-size: 16px;
}









}




@media screen and (min-width:425px) and (max-width:768px){
  .lead__title{
    font-size: 60px;
    line-height: 1.1;
  }
  .lead__subtitle{
    font-size: 24px;
    line-height: 1.25;
  }
}




