.cover__overlay{
  display: block;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  min-height: 63vw;
}
.cover__overlay:hover{
background: rgb(43, 45, 48,.8)
}