.cover__overlay {
  width: 100%;
  min-height: 740px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
  background: rgb(43, 45, 48, 0.3);
}
.cover__overlay:hover {
  background: rgb(43, 45, 48, 0.8);
}
@media screen and (max-width:1024px)  {
  .cover__overlay {
    min-height: 640px;
}
@media screen and (max-width:768px)  {
  .cover__overlay {
    min-height: 480px;
}
@media screen and (max-width:650px)  {
  .cover__overlay {
    min-height: 320px;
}
@media screen and (max-width:425px)  {
  .cover__overlay {
    min-height: 200px;
}